
<div class="top-section">
    <div class="words">
      <h1>Farming made easy</h1>
      <h3>With easy farm app, you will get fast reports and have your farming life made easy</h3>
    </div>
    <div class="pic">
      <img src="../assets/payview.PNG" alt="phone">
    </div>
  </div>
  <div class="higlights-feature-section" >
    <div class="header">
      <h5>HIGHLIGHTS</h5>
    </div>
    <div class="header2">
      <h1>features you love</h1>
    </div>

    <div class="cards">
      <div class="card1">
        <P>DSJDSDJSJDJSDS</P>
        <P>DSJDSDJSJDJSDS</P>
        <P>DSJDSDJSJDJSDS</P>
        first
      </div>
      <div class="card2">
        second
        <P>DSJDSDJSJDJSDS</P>
        <P>DSJDSDJSJDJSDS</P>
        <P>DSJDSDJSJDJSDS</P>
      </div>
      <div class="card3">
        third
        <P>DSJDSDJSJDJSDS</P>
        <P>DSJDSDJSJDJSDS</P>
        <P>DSJDSDJSJDJSDS</P>
      </div>
     
    
  </div>

  