<header>

  <a href="#" class="logo"><span>Easy</span>Farming</a>

  <input type="checkbox" id="menu-bar">
  <label for="menu-bar" class="fas fa-bars"></label>

  <nav class="navbar">
      <a routerLink="" routerLinkActive="router-link-active" >home</a>
      <a routerLink="/features" routerLinkActive="router-link-active">features</a>
      <a href="#screenshots">screenShots</a>
      
     
     
      <!--<a href="#pricing">pricing</a>-->
    
  </nav>

</header>
<router-outlet></router-outlet>  

